*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    animation: animateColor 1s  1s infinite;
}

:root{
    --clr: #68ffeb;
}
.container{
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    padding-top: 200px;
    justify-content: center;
    position: relative;
    color: var(--clr);
    
}

@keyframes animateColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.container .cloud{
    width: 250px;
    height: 40px;
    background-color: #68ffeb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 30px #68ffeb;
    z-index: 1;
    /* position: relative; */

}

.container .cloud h2{
    font-size: 14px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #000;
}

.container .cloud::before{
    content: "Data Cloud";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    z-index: 1;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 250px;
    height: 60px;
    position: absolute;
    background-color: #68ffeb;
    top: 22%;
    border-radius: 50px;
    box-shadow: 0 0 50px #68ffeb;
}
.container .cloud::after{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #68ffeb;
    top: 15%;
    left: 42%;
    border-radius: 50%;
    box-shadow: 100px -30px 0px 35px #68ffeb;
    
}
.rain{
    width: 100px;
    color: var(--clr);
    position: absolute;
    top: 230px;
}

.rain h3{
    position: absolute;
    transition: 1.8s linear;
    animation: rain 1.8s infinite;
    font-size: 15px;
}

@keyframes rain {
    0%{
        transform: translateY(0px) scaleY(0);
        transform-origin: top;
    }
    10%{
        transform: translateY(0px) scaleY(.25);
        transform-origin: top;
    }
    20%{
        transform: translateY(0px) scaleY(1);
        transform-origin: top;
    }
    70%{
        transform: translateY(300px) scaleY(1);
        transform-origin: bottom;
    }
    80%{
        transform: translateY(300px) scaleY(1);
        transform-origin: bottom;
    }
    100%{
        transform: translateY(300px) scaleY(0);
        transform-origin: bottom;
        text-shadow: -100px 0 0 var(--clr), 100px 0 0 var(--clr);
    }
}